* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #F0F0F0;
}

.flex {
    display: flex;
}

#palette, #choices {
    display: flex;
    gap: 1rem;
}


.dot {
    aspect-ratio: 1;
    border-radius: 50%;
}

.big {
    height: 40px;
}

.small {
    height: 20px;
}

.solid {
    border: 3px solid black;
}

.dashed {
    border: 3px dashed grey;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.purple {
    background-color: purple;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

#palette button:hover {
    cursor: pointer;
    scale: 1.05;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}